
.vs/CS162 - final project/v16/.suo
.vs/CS162 - final project/v16/Browse.VC.db
.vs/CS162 - final project/v16/ipch/AutoPCH/57ccc5f707b91937/STAFF-COURSE.ipch
.vs/CS162 - final project/v16/ipch/AutoPCH/8cf22609019e516a/MENU.ipch
.vscode/settings.json
data/course/1920-HK2-19APCS2-CS162-enrolled.gulu
Debug/admin.obj
Debug/CS162 - .73EB12D6.tlog/CL.command.1.tlog
Debug/CS162 - .73EB12D6.tlog/CL.read.1.tlog
Debug/CS162 - .73EB12D6.tlog/CL.write.1.tlog
Debug/CS162 - .73EB12D6.tlog/CS162 - final project.lastbuildstate
Debug/CS162 - .73EB12D6.tlog/link.command.1.tlog
Debug/CS162 - .73EB12D6.tlog/link.read.1.tlog
Debug/CS162 - .73EB12D6.tlog/link.write.1.tlog
Debug/CS162 - final project.exe
Debug/CS162 - final project.ilk
Debug/CS162 - final project.log
Debug/CS162 - final project.pdb
Debug/CS162 - final project.vcxproj.FileListAbsolute.txt
Debug/datatype.obj
Debug/main.obj
Debug/menu.obj
Debug/staff-course.obj
Debug/staff_class.obj
Debug/tools.obj
Debug/vc142.idb
Debug/vc142.pdb
